In [2]:
import pandas as pd
url='https://bit.ly/vintage-auctions'
df=pd.read_csv(url)
df

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used
...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [3]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
dtype: object

In [4]:
df['daytime']=pd.to_datetime(df['time'])

In [5]:
colonne_temporaire=df['daytime'].dt.hour*100+df['daytime'].dt.minute
colonne_temporaire

0      1536
1       903
2      1942
3      2228
4       638
       ...
995     956
996    1131
997     625
998     222
999    1947
Name: daytime, Length: 1000, dtype: int64

In [11]:
bins= [0,324,1612,2211,2400]
labels=['NUIT1','MATIN','AP.MIDI','NUIT2']

In [12]:
daytimetable=pd.cut(colonne_temporaire,bins=bins,labels=labels)
daytimetable

0        MATIN
1        MATIN
2      AP.MIDI
3        NUIT2
4        MATIN
        ...
995      MATIN
996      MATIN
997      MATIN
998      NUIT1
999    AP.MIDI
Name: daytime, Length: 1000, dtype: category
Categories (4, object): ['NUIT1' < 'MATIN' < 'AP.MIDI' < 'NUIT2']

In [13]:
df['daytime']=daytimetable
df

,tx id,time,auction,color,shirt size,condition,daytime
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used,MATIN
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn,MATIN
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used,AP.MIDI
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN,NUIT2
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used,MATIN
...,...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN,MATIN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used,MATIN
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used,MATIN
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used,NUIT1
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used,AP.MIDI

In [14]:
df.isna().sum()

tx id           0
time            0
auction         0
color          23
shirt size      0
condition     153
daytime         0
dtype: int64